.choose-container {
    position: sticky;
    top: 41px;
    background-color: rgba(221, 160, 221, 0.297);
    height: 100vh;
}

.choose-container h3 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 50px;
}

.choose-container .small-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 5px 10px 5px;
    padding: 10px 5px;
    border: 1px solid rgb(100, 0, 100);
}

.choose-container .small-card img {
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.choose-container .small-card p {
    margin: 0;
    text-align: left;
}



.choose-container .choose,
.clear {
    padding: 10px 20px;
    border: none;
    margin: 10px 0;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.2s linear;
    cursor: pointer;
}

.choose-container .choose {
    background-color: #5cb85c;
    color: white;
    border: 2px solid #5cb85c;
    margin-right: 10px;
}

.choose-container .choose:hover {
    background-color: white;
    color: #5cb85c;
    border: 2px solid #5cb85c;
}

.choose-container .clear {
    background-color: #d9534f;
    color: white;
    border: 2px solid #d9534f;
}

.choose-container .clear:hover {
    background-color: white;
    color: #d9534f;
    border: 2px solid #d9534f;
}